body {
    width:fit-content;
    font-size:16px;
    background-color:#131f2f;
    color:pink;
    font-family: 'Joan', serif;
}

#logo {
    width:50%;
    display:flex;
    margin:0 auto;
    border-radius:50%;
}

#logo_container {
    background-color:#131f2f;
}

.entry-header {
    text-decoration:underline;
    font-weight:600;
    padding-bottom:20px;
}

#small404 {
    height:250px;
    display:flex;
    margin:0 auto;
}

#greeting_left {
    background-image:url("../images/personal_image_small.jpeg");
    height:200px;
    background-repeat:no-repeat;
    background-position:50% 30%;
    
}

#personal_memo {
    display:none;
}